body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 2vw;
  /* Using vw (viewport width) unit for relative font size */
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Media query for adjusting font size on smaller screens */
@media screen and (max-width: 768px) {
  body {
    font-size: 3vw;
    /* Adjust font size for smaller screens */
  }
}

/* Additional media queries and styles for other screen sizes can be added as needed */